.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background: #f4f4f4;
  overflow-y: auto;
  height: 600px;
  margin-right: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 20px;
}

.sidebar button:hover {
  background-color: #0e8b5b;
}
.sidebar .community-btn{
  margin-top: 50px;
 background-color:#4CAF50;
 color: white;
}
#gabon-map {
  flex: 1;
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
